<!DOCTYPE html>
<html lang="pt-br" ng-app="eventsApp">
<head>
    <title>Event Registration</title>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" type="image/gif" sizes="16x16">
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/app.css" rel="stylesheet" />
</head>
<body ng-cloak>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">EventApp - Angular</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                        <!--<li><a href="#">Link</a></li>-->

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>

        <div class="root-ng" ng-controller="EventController">
            <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" />
            <div class="row">
                <div class="col-md-12">
                    <h2 ng-style="myStyle" ng-bind-template="{{event.name | uppercase }} - {{event.date}}"></h2>
                </div>
            </div>

            <!--

                ** Demonstrando o uso de algumas diretivas **

            <div class="well well-sm">
                <button ng-disabled="buttonDisabled" class="btn btn-default">Disabled</button>
                <div ng-bind-html="snippet">some title</div>
                <div ng-show="boolValue">some title</div>
                <div ng-hide="boolValue">some title</div>
                <div ng-non-bindable>{{1+2}} - desativando o binding</div>
            </div>
            -->
            <!--
                ** Demonstrando o uso de expressões
            <div class="well well-sm">
                <h2>Expressões</h2>
                <span>{{[1,2,3,4] [2]}}</span>
                <span>{{myValue * 2 + 1}}</span>
            </div>
                -->
            <!--
                <h2>Filtros</h2>
                <div class="well well-sm">
                    {{3.1415926535 | number:2}}
                    {{3 | number:2}}
                    {{852.99 | currency}}
                    {{1288323623006 | date:'medium'}}
                    {{ {a:3,b:'hi',c:{aa:35} }  | json}}
                </div>
            -->


            <div class="row">
                <div class="col-md-3">
                    <div>
                        <strong>Date:</strong> {{event.date}}
                        <div>
                            <strong>Time:</strong> {{event.time}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <address>
                        <strong>Address:</strong><br />
                        {{event.location.address}}<br />
                        {{event.location.city}}, {{event.location.province}}
                    </address>
                </div>
            </div>

            <hr />

            <h3 ng-class="myClass">Sessions</h3>
            <br />
            <div>
                Order by:
                <select ng-model="sortorder">
                    <option value="name">Name</option>
                    <option value="-upVoteCount">Vote</option>
                </select>

                Show:
                <select ng-model="query.level">
                    <option value="">All</option>
                    <option value="introductory">Introductory</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="advanced">Advanced</option>
                </select>
            </div>
            <br />

            <ul class="list-unstyled">
                <li ng-repeat="session in event.sessions | orderBy:sortorder | limitTo:10 | filter:query">
                    <div class="row">
                        <div class="col-sm-1 well up-down-vote">
                            <div ng-click="upVoteSession(session)">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </div>
                            <span class="badge">{{session.upVoteCount}}</span>
                            <div ng-click="downVoteSession(session)">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                        </div>
                        <div class="well col-xs-7">
                            <h4 ng-bind="session.name"></h4>
                            <h6>{{session.creatorName}}</h6>
                            <span>Duration: {{session.duration}}</span><br />
                            <span>Level: {{session.level}}</span><br />
                            <p>{{session.abstract}}</p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>


    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-sanitize.js"></script>
    <script src="app.js"></script>
    <script src="controllers/EventController.js"></script>
</body>
</html>
